{% extends 'base.html.twig' %}

{% block body %}

    <form class="form-inline ml-3">

        <input  name="sujet11" type="text" placeholder="Search.." aria-label="Search" required="required">
        <button  type="submit" value="rechercher">
            <i class="fa fa-search"></i>
        </button>
    </form>



{% endblock %}